@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body{
   /* background-image: url("criptografia.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-size: cover;
    */
    background-color: #3e4c1d;
}
.conteudo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 500px;
    background-color: #697746;
    border-radius: 20px;
    opacity: 0.9;
}
.todo{
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    background-color: #3e4c1d ;
    border: 4px solid;
    border-color: #460f0f(45, 87, 121);
    font-size: 15px;
    padding: 1em;
    width: 100%;
    max-width: 200px;
    border-radius: 15px 15px 15px 15px;
    color: #394446 ;
    font-family: 'Space Mono',monospace;

}
p{
    color: #394446;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
}
.lista-cabecalho{
    display: flex;
    justify-content: space-between;
}
.lista-item-cabecalho{
    display: inline-block;
    padding: 30px;
    background-color: #394446;
    border-radius: 15px;
    margin: 0 5px;
    color: #b0bac0;
}
.lista-item-cabecalho:hover{
    
    background-color: #00515f;

    color: #666a6d;
}
a:link, a:visited{
    color: antiquewhite;
}

a:hover{
    color: blueviolet;
}

/* .color1 { #283608 };
.color2 { #3e4c1d };
.color3 { #546232 };
.color4 { #697746 };
.color5 { #7f8d5b };

*/